<%- include('./partials/header.ejs') %>
<nav>
    <% if (user) { %>

        <a href="/logout">LOGOUT</a>    
    <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
    <% } %>
</nav>
<header>
<div id="nav-title">
    <h1><%= title %></h1>
    <form action="/codex/search" method="GET">
        <input id="searchbar" type="text" name="name" placeholder="Search Cards">
    </form>
</div>
</header>
<% if (user) { %>
    <div class="wrapper">
        <div id="new-deck" class="deck"><a href="/decks/new">+</a></div>
    <%  user.decks.forEach(d => { %>
        <div class="deck"><a href="decks/<%=d.id%>"><%= d.name %></a></div>
    <% }) %>
    </div>
<% } %>


<%- include('./partials/footer.ejs') %>