<%- include('../partials/header.ejs') %>


<div class="search">
    <form action="edit" method="get">
        <input class="searchbar" type="text" placeholder="Search Cards" name="searchValue">
        <input type="hidden" name="deckId" value="<%= deck._id %>">
    </form>
</div>

<div class="wrapper" id="edit-wrapper">
    <div id="edit-search" class="result-container">
        <% results.forEach(card => { %>
            <div class="results">
                <img src="<%=card.image_uris.small%>">
                <form class="addForm" action="/decks/<%=deck.id%>" method="POST">
                    <input type="hidden" value="<%=card._id%>" name="cardId">
                    <input type="text" value="1" name="quantity">
                    <input type="submit" value="Add">
                </form>
            </div>
        <% }) %>
    </div>
    <div id="deck-search" class="result-container">
        <% deck.cards.forEach(card => { %>
            <div>
                <img class="cards" src="<%= card.image_uris.small %>">
            </div>
        <% }) %>
    </div>
</div> 

<%- include('../partials/footer.ejs') %>
