<%- include('../partials/header.ejs') %>


<div id="nav-title">
    <form action="edit" method="get">
        <input id="searchbar" type="text" placeholder="Search Cards" name="searchValue">
        <input type="hidden" name="deckId" value="<%= deck._id %>">
    </form>
</div>

<div>
    <div id="edit-search" class="wrapper">
        <% results.forEach(card => { %>
            <div class="results"><img src="<%=card.image_uris.small%>"></div>
        <% }) %>
         
    </div>
    <div id="deck-view">
        <% deck.cards.forEach(card => { %>
            <div><img src="<%= card.image_uris.small %>"></div>
        <% }) %>
    </div>
</div> 

<%- include('../partials/footer.ejs') %>
